.title-background-lp {
  background-image: url('../images/Landingpage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color:#464646;
  z-index: -110;
  height: 100vh;
}

.fullscreen-bg {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img-lp {
  border: none;
  width: 70%;
  margin: 0 auto;
}

.btn-lp {
  display: block;
  min-width: 130px;
  min-height: 30px;
  margin: 0 auto;
  border-radius: 18px;
  background-color: rgb(171, 213, 60);
  border: 2px solid rgb(171, 213, 60);
  cursor: pointer;
  font-family:  nobel, sans-serif;
  font-size: 1em ;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: .25rem .5rem;
  line-height: 1.5;
  color: rgba(255,255,255,0.8);
}

.btn-lp:hover {
  background: rgb(201, 255, 52) !important;
  border:2px solid rgb(201, 255, 52) !important;
  height: 2.8rem;
  width: 11rem;
  border-radius: 30px;
  font-size: 1.1em;
  color: rgba(95, 95, 95, 0.829)
}

.logo {
  text-align: center;
}